
:root {
    --xanthous: #e3b23cff;
    --taupe: #463f3aff;
    --light-green: #91f5adff;
    --white: #ffffffff;
    --vermilion: #dd403aff;
}
.containerHome{
    padding: 10px 50px;

}
.navbar{
    background-color: var(--xanthous);
    .navbar-toggler{
        border: 0px;

        background-color: var(--taupe);
        color: var(--vermilion);
    }.navbar-toggler:hover{
        background-color: var(--vermilion);
        color: var(--taupe);
    }
    color: var(--taupe);
    
    .logoNavbar{
        width: 90px;
        height: 70px;
        margin-left: 25px;
        margin-right: 25px;
    }
    .usernameText{
        color: var(--vermilion);
    }
    .btn{
        border: 0px;
        background-color: var(--taupe);
        margin: 5px;
    }
    .btn:hover{
        background-color: var(--vermilion);
    }
}
.navbar-nav .nav-link {
    color: #000000; /* Cambia a tu color deseado */
    
}

/* Si deseas cambiar el color del texto al pasar el mouse */
.navbar-nav .nav-link:hover {
    color:var(--vermilion); /* Cambia a tu color deseado al pasar el mouse */
}

.hero-section {
    height: 90vh; /* Ajusta la altura según tu preferencia */
    position: relative;
    overflow: hidden; /* Evita que el contenido se desborde */
    padding: 20px;
    color: white;
    padding-bottom: 40px;
    h1{
        padding: 40px;
        font-size: 56px;
    }
    /*mueve el botton mas  a la derecha*/
    .btn{

        bottom: 0;
        margin: 20px;
        padding: 10px 40px;
        font-size: 20px;
        background-color: var(--taupe);
        color: white;
        border: 0px;
    }
    .btn:hover{
        background-color: var(--vermilion);
    }
}
.hero-section::before {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('https://www.friendbank.net/ContentImageHandler.ashx?ImageId=156937');
    background-size: cover;
    background-position: center top;
    filter: brightness(0.7);
    z-index: -1;
    width: 100%;
    height: 100%;

}
.second-section {
    background-color: var(--xanthous); /* Color de fondo */
    padding: 30px; /* Espaciado interno */
    text-align: center; /* Alineación del texto */
    h1 {
        font-size: 32px; /* Tamaño del texto */
        color: #333; /* Color del texto */
        line-height: 1.6; /* Altura de línea para mejorar la legibilidad */
    }
}

.third-section{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: var(--white);
    background-color: var(--white);
    .row{
        padding: 10px;
        .col{
            h1{
                font-size: 45px;
                padding: 15px;
            }
            h2{
                font-size: 32px;
                color: var(--taupe);
                padding: 10px 80px;
            }
            p{
                font-size: 22px;
            }

        }
    }
    .parrafos-Thrid-section{
        padding: 20px 235px;
    }
}

.fourth-section{
    background-color: var(--white);
    .container{
        padding: 20px 45px;
        .card{
            width: 18rem;
        }
    }
}
.fifth-section{
    background-color: var(--white);
    padding-top: 50px;
    padding-bottom: 50px;
    h1{
        font-size: 45px;
    }
    p{
        font-size: 22px;
    }
    .btn{
        border: 0px;
        background-color: var(--taupe);
        margin: 5px;
        padding: 10px 40px;
        font-size: 20px;
    }
    .btn:hover{
        background-color: var(--vermilion);
    }
}
/*footer*/
footer{
    
    background-color: var(--xanthous);
    color: var(--taupe);
    a{
        color: var(--taupe);
        text-decoration: none;
        
    }
    a:hover{
        color: var(--vermilion);
    }
}
/*login*/
.loginContainer{
    background-color: var(--white);
    padding-bottom: 80px;
    .btn{
        border: 0px;
        background-color: var(--taupe);

    }
    .btn:hover{
        background-color: var(--vermilion);
    }
}
.adopciones{
    .filtro-container{
        padding: 20px 200px;

    }
    .petCard{
        .card {
            /* Estilos predeterminados para la tarjeta */
            border: 3px solid #ccc;
            transition: border-color 0.3s ease-in-out;
            text-decoration: none; /* Elimina el subrayado predeterminado del enlace */
            color: inherit; /* Hereda el color del texto del contenedor padre */
        }
        .card-img{
            border: 1px solid #ccc;
            transition: border-color 0.3s ease-in-out;
        }
        .card-img:hover{
            border-color: var(--xanthous);

        }
        .card:hover {
            /* Estilos cuando el mouse está sobre la tarjeta */
            border-color: var(--xanthous); /* Puedes cambiar esto al color que desees */
            .card-title{
                color: var(--vermilion);
            }
        }
    }
}

.petContainer{
    
    padding: 30px;
    .petImg{
        width: 100%;
        height: 100%;
        max-width: 400px;
        object-fit: cover;
    }
    .btn{
        border: 0px;
        background-color: var(--taupe);
        margin: 5px;
    }
    .btn:hover{
        background-color: var(--vermilion);
    }
}

.bodyAdoption{
    background-color: var(--taupe);
    color: white;

    .petCol{
        .petName{
            font-size: 24px;
        }
        .petAge{
            font-size: 18px;
        }
    }
    .btn{

        color: #000000;
        border: 0px;
        background-color: var(--light-green);
        margin-top: 20px;

    }.btn:hover{
        background-color: var(--vermilion);

    }
}
.breadcrumb-item + .breadcrumb-item::before {
    content: " / ";
}


